SELECT id, user_id, chatbot_id, is_deleted, is_archived, created_at, updated_at FROM chat_schema.chatrooms WHERE user_id = '3fa11b2f-0e4d-4332-aa76-308407ec68ca' AND chatbot_id = '22222222-2222-2222-2222-222222222222' ORDER BY created_at;
